* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('assets/Image.png');
    height: 100vh;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.banner {
    display: flex;
    flex-direction: column;
    min-height: 600px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
    align-items: center;
}

.nav__menu ul{
    display: flex;
    font-size: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    color: inherit;
}



.nav__menu a {
    margin-right: 30px;
    text-decoration: none;
    padding: 1rem;
}

.nav__menu a:hover {
    color: rgb(57, 66, 83);
}

.main__section {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    align-items: center;
    flex-grow: 1;

}

.left__container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;

}

.title {
    margin-bottom: 1rem;
    font-size: 4.3rem;
    line-height: 85px;
    font-weight: 600;
    margin-left: 100px;
    
}

.main__body__text {
    font-weight: 500;
    margin-left: 100px;
    font-size: 1.3rem;
    line-height: 35px;
    margin-bottom: 2rem;
    color: darkgray
}

.right__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.text__form__head {
    font-size: 20px;
    letter-spacing: 2px;
}

.form__box {
    font-size: 3.5em;
    width: 100%;
    max-width: 380px;
    padding: 40px ;
}

.input__group {
    display: flex;
    flex-direction: column;
    
}
.input__group input {
    outline: none;
    background: rgba(0,0,0,0.2);
    color: inherit;
    font-size: 1rem;
    height: 50px;
    padding-left: 25px;
}


.input__group input:focus {
    border-color: #2180d8;
}


.btn__form {
    background-color: #1762A7;
    padding: .75rem 1.5rem;
    border-end-start-radius: 15px;
    border-end-end-radius: 15px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    border: none;
    width: 100%;
    font-size: 20px;
    
}
.btn__form:hover {
    background-color: #2180d8;
}

.btn:focus {
    background-color: #2796ff;
}
.terms__info {
    display: flex;
    justify-content: center;
}

.terms__text {
    color: darkgray

}
.terms__link {
    padding-top: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 40px;
}

footer {
    flex: 1;
    margin-top: 175px;
    height: 100vh;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.footer ul{
    display: flex;
    font-size: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    color: inherit;
}

.footer a {
    margin-right: 30px;
    text-decoration: none;
    padding: 1rem;
}

.footer a:hover {
    color: rgb(57, 66, 83);
}
